* {
    /*border: 1px dotted red;*/
}

body {
    background-color: whitesmoke;
    color: #758988;
}

h1, h2 {
    color: #dd471b;
}

h3 span{
    background-color: #758988;
    padding: 5px;
    color: #fffdff;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 1px;
}

h4,h5 {
    font-family: josefin slab, serif;
    font-size: 1.3rem;
    /*font-weight: 700;*/
}

h3,h4 {
    margin-top: 1rem;
}

h5 {
    margin: 1rem;
}

hr {
    margin: 2rem 0 2rem 0;
}

nav {
    text-transform: lowercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: .8rem;
}

/* This deals with the #about anchor looking ugly when following link straight there
https://css-tricks.com/hash-tag-links-padding/ */
#about:before { 
  display: block; 
  content: " "; 
  margin-top: -80px; 
  height: 80px; 
  visibility: hidden; 
}

#footer, #footer a {
    background-color: #dd471b;
    color: #f9dbd2;
}

#projects div.row, #about div.row {
    margin: 1rem 0 2.5rem 0;
    padding: 0 .75rem;
}

#intro {
    margin-top: 50px;
}

.lead {
    font-family: josefin slab, serif;
}

.tech {
    font-size: .8rem;
    padding: 0 24px 0 0;
    font-family: josefin slab, serif;
    text-transform: capitalize;
}
#brand{
    color: #dd471b;
    font-weight: 500;
}

.navbar {
    background-color: whitesmoke;
    opacity: .89;
}

.aboutDescription {
    margin-top: 1rem;
}

.active {
    color: whitesmoke;
}

.tooltip-arrow, .tooltip-inner {
    background-color: black;
}