* {
    /*border: 1px dotted red;*/
}

body {
    background-color: whitesmoke;
    color: #758988;
}

h1, h2 {
    color: #dd471b;
}

h3 span{
    background-color: #758988;
    padding: 5px;
    color: #fffdff;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
}

h4,h5 {
    font-family: josefin slab, serif;
    font-size: 1.3rem;
    /*font-weight: 700;*/
}

h3,h4 {
    margin-top: 1rem;
}

h5 {
    margin: 1rem;
}

hr {
    margin: 2rem 0 2rem 0;
}

#footer, #footer a {
    background-color: #dd471b;
    color: #f9dbd2;
}

#portfolio div.row, #about div.row {
    margin-bottom: 2.5rem;
    padding: 0 .75rem;
}

.lead {
    font-family: josefin slab, serif;
}

.tech {
    font-size: .8rem;
    padding: 0 24px 0 0;
    font-family: josefin slab, serif;
    text-transform: capitalize;
}

.aboutDescription {
    margin-top: 1rem;
}

.active {
    color: whitesmoke;
}

